In [1]:
## Exercise 1: Address

print('Devin Fryar')
print('1132 Mitsy Hollow Dr.')
print('Marietta. Ga 30068')

print('Devin Fryar,\r1132 Mitsy Hollow Dr.\rMarietta Ga 30068')

Devin Fryar
1132 Mitsy Hollow Dr.
Marietta. Ga 30068
Marietta Ga 30068

In [2]:
# Exercise 2: Hello User

name = input('Input your name:')
print('Hello '+ name+'!')

Hello Devin Fryar!

In [3]:
type(name)

str

In [4]:
name

'Devin Fryar'

In [5]:
2*name

'Devin FryarDevin Fryar'

In [6]:
3*name

'Devin FryarDevin FryarDevin Fryar'

In [7]:
## Example 3: Area of Room

length = float(input('Length of room in meters:'))

Width = 20
area = length*Width
print("The area of the room is", area, "square meters")

The area of the room is 400.0 square meters

In [8]:
def area(length,Width):
    area= length*Width
    return area

In [9]:
area(length,Width)

400.0

In [12]:
area(329,1234)

405986